@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

body{
    background-color: #fbeaea;
}

h1{
    font-family: 'Amatic SC', cursive;
    font-size: 2.1rem;
    line-height: 1.4;
    letter-spacing: 0.5rem;
    text-align: center;
    color: black;
    margin-top: 50px;
}

.leht{
    position: relative;
}

.esilehe_tekst{
    background-image: ;
}

.ümbris{
    overflow: hidden;
    height: 350px;
    width: 350px;
    margin: 0px auto;
    border-radius: 5%;
}

@-webkit-keyframes slaidi_animatsioon{
    0% {right:0px}
    6% {right: 0px}
    12% {right: 350px}
    18% {right: 350px}
    24% {right: 700px}
    30% {right: 700px}
    36% {right: 1050px}
    42% {right: 1050px}
    48% {right: 1400px}
    54% {right: 1400px}
    60% {right: 1050px}
    66% {right: 1050px}
    72% {right: 700px}
    78% {right: 700px}
    84% {right: 350px}
    90% {right: 350px}
    96% {right: 0px}
    100% {right: 0px}
}

.slaidi_pildid{
    width: 1750px;
    height: 350px;
    margin: 0px auto;
    position: relative;
    -webkit-animation-name: slaidi_animatsioon;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
}

.pildi_konteiner{
    height: 350px;
    width: 350px;
    position: relative;
    float: left;
}
.menüüleht{
    width: 100%;
    height: 100%;
    background-color: #fbeaea;
}
.menüümenu ul{
    display: inline-flex;
    margin: 50px;
}
.menüümenu ul li{
    list-style: none;
    margin: 0 20px;
    color: #000000;
    font-family: 'Trebuchet MS';
    cursor: pointer;
}