@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@use postcss-nested;

body{
    background-color: #fbeaea;
}

h1{
    font-family: 'Amatic SC', cursive;
    font-size: 2.1rem;
    line-height: 1.4;
    letter-spacing: 0.5rem;
    text-align: center;
    color: black;
    margin-top: 50px;
}

.leht{
    position: relative;
}

.esilehe_tekst{
    background-image: ;
}

.ümbris{
    overflow: hidden;
    height: 350px;
    width: 350px;
    margin: 0px auto;
    border-radius: 5%;
}

@-webkit-keyframes slaidi_animatsioon{
    0% {right:0px}
    6% {right: 0px}
    12% {right: 350px}
    18% {right: 350px}
    24% {right: 700px}
    30% {right: 700px}
    36% {right: 1050px}
    42% {right: 1050px}
    48% {right: 1400px}
    54% {right: 1400px}
    60% {right: 1050px}
    66% {right: 1050px}
    72% {right: 700px}
    78% {right: 700px}
    84% {right: 350px}
    90% {right: 350px}
    96% {right: 0px}
    100% {right: 0px}
}

.slaidi_pildid{
    width: 1750px;
    height: 350px;
    margin: 0px auto;
    position: relative;
    -webkit-animation-name: slaidi_animatsioon;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-play-state: running;
}

.pildi_konteiner{
    height: 350px;
    width: 350px;
    position: relative;
    float: left;
}
.menüüleht{
    width: 100%;
    height: 100%;
    background-color: #fbeaea;
}
.ülemineriba ol{
    display: inline-flex;
    margin: 50px;
    width: 90%;
}
.ülemineriba ol li{
    width: 90%;
    list-style: none;
    margin: 0 40px;
    color: #000000;
    font-family: 'Amatic SC';
    font-size: large;
    cursor: pointer;
}
.logo img{
    width: 50px;
    margin-top: -25px;
    margin-right: 48px;
}
.active{
    color: black;
}
* {
    box-sizing: content-box;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.kollaaz img{
    width: 90%;
}
   .menüü{
       padding-top: 15px;
       padding-bottom: 15px;
     font-family: 'Amatic SC';
     font-size: medium;
     background-color: rgb(255, 249, 250);
     text-align: center;
   }
       .menu{
           .tootegrupp {
               text-align: center;
               margin-left: auto;
               margin-right: auto;
            }
               section{
                   header{
                       .toode{
                           text-align:center;
                        }
                     }

                 }
             }
             h3{
                text-align: right;   
            }

         }
     }

 .alumineriba{
    background-color: #fbeaea;
    display: inline-flex;
    margin: 50px;
    font-family: 'Amatic';
    width: 90%;
}      

.alumineriba th{
    background-color: #fbeaea;
    width: 90%;
    padding-top: 30px;
    padding-bottom: 30px;
    list-style: none;
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
    color: #000000;
    font-family: 'Amatic SC';
    font-size: large;
    cursor: text;
    width: max-content;

}
.logoall img{
    width: 20px;
    margin-top: -7px;
    margin-right: 48px;
}
